.Board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
}

.BoardTop {
    position: absolute;
    z-index: 3;
    transform:scale(1.3);
}
.grid{
    position: absolute;
    width:620px;
    height:530px;
    display: flex;
    flex-wrap:wrap;
    z-index: 2;
    margin-bottom: 30px;
    transform:scale(1.3);
}
.slot{
    width:72px;
    height:70px;
    padding:7px;
    border: 1px var(--main-bg-color) solid;

}
.BoardBottom{
    position: absolute;
    z-index: 1;
    margin-top:10px;
    transform:scale(1.3);
}

.fall {
    animation-name: fall-animation;
    animation-duration: 500ms;
}
.markerRed{
    position: absolute;
}


.markerGrid{
    position: absolute;
    width:620px;
    height:50px;
    top:170px;
    display: flex;
    
    transform:scale(1.3);
    
}
.columnSlot{
    height:45px;
    width: 100px;
    
   
}
.win{
    background-color: #ffffff;
    height: 150px;
    width: 300px;
    z-index: 5;
    border-radius: 25px;
    border: 3px solid black;
    border-bottom: 10px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    margin-top:650px;
    transform:scale(1.3);
    
}
.replay {
    background-color:var(--main-bg-color);
    border-radius: 30px;
    font-size: 20px;
    width:150px;
    height: 30px;
    color:#ffffff;
    font-family: connectBold;
    cursor: pointer;
    
}

.win >h3, h1 {
    margin:5px;
}
.winCircle{
    border-radius: 100%;
    border:10px solid #ffffff;
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 10;
    margin-top:-68px;
    margin-left:13px;
}

.timer{
    position: absolute;
    z-index: 10;
    top:950px;
    transform:scale(1.3);

}
.timerText{
    position: absolute;
    z-index:10;
    top:960px;
    font-family: connectMedium;
    color:#ffffff;
}
.t2{
    color:black;
}

.dropGrid{
    position: absolute;
    top:300px;
    width:630px;
    height:600px;
    z-index: 11;
    display: flex;
    
    transform:scale(1.3);
    

}
.dropColumn{   
    width:110px;
    height:600px;
    z-index: 11;
    cursor: pointer;
    
    
}
@keyframes fall-animation {
    from {
        transform: translateY(-500px);
    }
    to {
        transform: translateY(0);
    }
}

@media screen and (max-width: 2080px){
    .BoardTop, .grid, .BoardBottom, .markerGrid, .win, .dropGrid, .markerGrid, .win, .timer {
        transform:scale(1);
        
    }
    .BoardTop{
        top:200px;
    }
    .BoardBottom{
        top:200px;
    }
    .dropGrid{
        top:200px;
        transform:scale(1);
    }
    .grid{
        top:205px;
    }
    .markerGrid{
        top:150px;
        transform:scale(1);
    }
    .timer{
        top:740px;
    }
    .timerText{
        top:760px;
    }
    .win{
       margin-top: 440px;
       
    }
    .score{
        transform: scale(.8);
        margin-top:-190px;
    }
    .check{
        top:10px !important;
    }
    
}

@media screen and (max-width: 1500px){
    .BoardTop, .grid, .BoardBottom, .markerGrid, .win, .dropGrid, .markerGrid, .win, .timer {
        transform:scale(.9);
        
    }
  
    .dropGrid{
        top:200px;
        transform:scale(.9);
    }
    .grid{
        top:207px;
    }
    .markerGrid{
        top: 190px;
        transform:scale(.9);
    }
    .timer{
        top:710px;
    }
    .timerText{
        top:730px;
    }
    .win{
       margin-top: 400px;
       
    }
    .score{
        transform: scale(.75);
       
    }
    .Scoreboard{
        justify-content: space-between !important;
    }
    
    
}

@media screen and (max-width: 1050px){
    .BoardTop, .grid, .BoardBottom, .markerGrid, .win, .dropGrid, .markerGrid, .win, .timer {
        transform:scale(.72);
        
    }
    .BoardTop, .BoardBottom, .grid{
        top:250px;
    }
    .markerGrid{
        top:285px !important;
    }
    .grid{
        top:262px;
    }
    .score{
        margin-top:-250px;
        height: 150px !important;
        width:250px !important;
        
    }
    .playerIcon{
        margin-top:0px !important;
        
    }
    .dropGrid{
        top:250px;
    }
    .iconOne{
        margin-right: 250px;
        transform: scale(1.2)
    }
    .iconTwo{
        margin-left: 250px;
        transform: scale(1.2)
    }
    .Navbar{
        width:75% !important;
    }
    .timer{
        top:700px;
        transform: scale(.65);
    }
    .timerText{
        top:740px;
        font-size: 11px;
    }
    
    .Scoreboard{
        justify-content: center !important;
    }
   
}

@media screen and (max-width: 455px){
    .BoardTop, .grid, .BoardBottom, .markerGrid, .win, .dropGrid, .markerGrid, .win, .timer {
        transform:scale(.55);
        
    }
    .BoardTop{
        top:102px;
    }
    .BoardBottom{
        top:100px;
    }
    .grid{
        top:120px !important;
    }
    .score{ 
        margin-top:-275px;
        height: 100px !important;
        font-size: 10px;
        
    }
    .timer{
        top:500px;
        transform: scale(.65);
    }
    .timerText{
        top:545px;
        font-size: 10px;
    }
    .win{
        margin-top: 190px;
        
     }
     .markerGrid{
        top:190px !important;
        
    }
   
    .Navbar{
        transform: scale(.8);
        width: 100% !important;
    }

    .dropGrid{
        top:100px;
    }
    .iconOne{
        margin-right: 180px;
        transform: scale(1.3)
    }
    .iconTwo{
        margin-left: 180px;
        transform: scale(1.3)
    }
    .bottomTab{
        height:175px !important;
        
    }
    .pauseMenu{
        top:100px !important;
        transform:scale(.65);
       
    }

    .menuBox {
        border:none;
        
    }
    .menu{
        background-color: var(--main-bg-color);
    }

    .selectBox{
        width:300px;
        font-size: 25px;
        line-height: 30px;
        padding:15px
    }
   
    .ruleWrapper{
        font-size: 15px;
    }

    .check{
        top:30px !important;
    }
}