.Board {
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.BoardTop {
    position: absolute;
    z-index: 1;
}
.grid{
    position: absolute;
    width:620px;
    height:530px;
    display: flex;
    flex-wrap:wrap;
    z-index: 0;
    margin-bottom: 30px;
    
}
.slot{
    width:72px;
    height:70px;
    padding:7px;
    border: 1px #5c2cd5 solid;
}
.BoardBottom{
    z-index: -1;
    margin-top: 10px;
}

.fall {
    animation-name: fall-animation;
    animation-duration: 500ms;
}
.markerRed{
    position: absolute;
    
}
.markerGrid{
    position: absolute;
    width:620px;
    height:50px;
    margin-bottom: 630px;
    display: flex;
}
.columnSlot{
    height:45px;
    width: 100px;
    
}
@keyframes fall-animation {
    from {
        transform: translateY(-500px);
    }
    to {
        transform: translateY(0);
    }
}
